.EProductVideo {
  /* position: absolute;
  top: 0;
  left: 0; */
  /* width: 177.78vh;
  height: 100vh; */
  min-width: 40vw;
  min-height: 40vh;
  /* transform: translate(-50%, -40%); */
  object-fit: fill;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

@media (min-width: 700px) {
}
@media (max-width: 699px) {
}

/* Make the video visible smoothly */
.EProductVideo.visible {
  opacity: 1;
}
