.modal-content {
  display: grid;
  gap: 1rem;
}

@media (min-width: 800px) {
  .modal-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 640px) {
  .modal {
    border-radius: var(--radius);
  }
}

.modal {
  max-height: 85vh; /* Limit modal height to 80% of viewport */
  overflow-y: auto; /* Enable vertical scrolling when necessary */
  padding: 30px;
  z-index: 5000;
}

.one-entry {
  font-weight: 700;
  color: white;
  padding: 6px 0;
}
.two-entry {
  font-weight: 700;
  color: white;
}

.stock-text {
  text-align: start;
}