.new-address {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (min-width: 800px) {
  .address-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 799px) {
  .address-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .address-right-column {
    padding-left: 20px;
  }
}

.address-left-column,
.address-right-column {
  min-width: 380px;
}

.address-left-column {
  max-width: 450px;
}

.subheader {
  font-size: 22px;
  width: 100%;
  display: flex;
  justify-content: center;

  padding: 6px 30px 0 30px;
}
