@media (min-width: 601px) {
  .clip-wrapper {
    display: flex;
    margin: 0 0 10px 0;
  }
}
@media (max-width: 600px) {
  .clip-wrapper {
    display: flex;
    margin: 0 0 10px 0;
  }
}

.vp-center {
  display: flex;
  align-items: top;
}
@media (max-width: 499px) {
  .clip {
    width: 100%;
    height: 24vh;
  }
}
@media (min-width: 500px) and (max-width: 599px) {
  .clip {
    width: 85vw;
    /* height: 30vh; */
  }
}
@media (min-width: 600px) and (max-width: 699px) {
  .clip {
    width: 85vw;
    /* height: 30vh; */
  }
}
@media (min-width: 700px) and (max-width: 828px) {
  .clip {
    width: 80vw;
    height: 35vh;
  }
}
@media (min-width: 829px) {
  .clip {
    width: 80vw;
    height: 45vh;
  }
}


@media (max-width: 700px) {
  .hero-img,
  .featured-img {
    height: 70px;
  }
}
@media (min-width: 701px) {
  .hero-img,
  .featured-img {
    height: 80px;
  }
}
